[Unit]
Description=monitoring daemon for shardman
Documentation=https://github.com/arssher/shardman

[Service]
Type=simple
EnvironmentFile={{ data_dir }}/monitor-{{ cluster_name }}.env
ExecStart={{ shardman_src }}/go/bin/shardman-monitor
Restart=always
RestartSec=10s

# start it when bowl is started (if this unit is enabled)
[Install]
WantedBy=shardman-bowl-{{ cluster_name }}.service