# unit instance name is $stolon_name
[Unit]
Description=stolon sentinel
Documentation=https://github.com/sorintlab/stolon/blob/master/doc/commands/stolon-sentinel.md
# we want to stop sentinels when bowl is stopped
PartOf=hodgepodge-bowl-{{ cluster_name }}.service

[Service]
Type=simple
EnvironmentFile={{ data_dir }}/sentinel-{{ cluster_name }}-%i.env
ExecStart={{ stolon_src }}/bin/stolon-sentinel
Restart=always
RestartSec=10s

# start it when bowl is started (if this unit is enabled)
[Install]
WantedBy=hodgepodge-bowl-{{ cluster_name }}.service
